[Unit]
Description=NodeApi
After=multi-user.target
[Service]
User=ubuntu
Type=simple
Restart=always
RestartSec=30s

WorkingDirectory=/home/ubuntu/pt3_production/simpleNodeRest
ExecStart=/home/ubuntu/.nvm/versions/node/v14.19.3/bin/node index.js
StandardOutput=syslog
StandardError=syslog
KillSignal=SIGINT

KillMode=mixed


[Install]
WantedBy=multi-user.target